

<h1> Employee </h1><br/>
<p class="lead">Enter new employee information below</p></br>

<% @position=Position.all %>

<%= form_tag('/employees/insert', class: "form-inline") do -%>
  <%= text_field_tag "name", nil, placeholder: 'Enter name', class: "form-group form-control" %>
  <%= select_tag "position", options_from_collection_for_select(@position, "id", "desc"), prompt: "Select position", class: "form-group form-control" %>
  <%= submit_tag 'Submit', class: "btn btn-default" %>
<% end -%>


