

<h1> Employee </h1><br/>
<h3>Enter new employee information below</h3><br/><br/>

<% @position=Position.all %>



<%= form_tag('/employees/insert') do -%>
  <div class="input-group">
  <input type="text", name="name", value="" class="form-control", placeholder="Employee's Name">
  </div>
  <%= select_tag "position", options_from_collection_for_select(@position, "id", "desc") %><br/><br/>
  <%= submit_tag 'Add' %>
<% end -%>


 
