

<h1>Listing Positions</h1></br>
<% @positions=Position.all %>
<table class="table table-hover table-bordered table-condensed table-responsive">
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Salary</th> 
  </tr>

<% @positions.each do |p| %>
  <tr>
    <td><%= p[:id] %></td>
    <td><%= p[:desc] %></td>
    <td><%= " #{p[:salary]},000 $ / Month" %></td>
  </tr>
<% end %>
</table>
  

