
<h1> Position </h1><br/>
<h3>Enter new position information below</h3><br/><br/>

<%= form_tag('/positions/insert') do -%>
  <div class="input-group">
  <input type="text", name="desc", value="" class="form-control", placeholder="Description of position">
  </div>
  <div class="input-group">
  <input type="text", name="salary", value="" class="form-control", placeholder="Salary, in K$">
  </div> 
  <%= submit_tag 'Add' %>
<% end -%>


 

