<div class="jumbotron">
  <div class="container">
    <h1>This Month salary expenses</h1></br>
    <p class="lead">The amount of expenses in salary payments this month: <span class="label label-primary"><%= $join %>,000 $</span></p>
  </div>
</div>

