<div class="jumbotron">
  <div class="container">
    <h1><span class="label label-info">Welcome to the Company Site</span></h1>
    </br>
    <p class="lead">Here you can manage employees, positions, and calculate salary expenses - Monthly, and total until this day.</p>
  </div>
</div>
   
